body {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
#myname {
    width:300px;
    margin:0 auto;
}

.container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  border: 0px solid gray;
}

* {
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

.flex-container1 {
  width: 40%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
  
}

a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.two:hover ~ hr {
  margin-left: 15%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: beige;
  border: none;
  transition: .3s ease-in-out;
}

#PDFcanvas {
  border: 1px solid black;
  direction: ltr;
}